@model TaskManagementApp.Data.Team

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserIds" class="control-label"></label>
                @Html.ListBoxFor(m => m.UserIds, (SelectList)ViewBag.Users,new { @Id = "UserIds", @class = "form-control", @multiple = "multiple" })
                <span asp-validation-for="UserIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#UserIds").select2();

            var selectedValues = @Html.Raw(Json.Serialize(Model.UserIds)); // Assuming UserIds is a List<int> or List<string>

            // Set the selected values to the Select2 dropdown
            $('#UserIds').val(selectedValues).trigger('change');
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
